<h2 align="center"> Доставка </h2>

<hr/>

<ul class="list-group">
  <li align="center" class="list-group-item list-group-item-success"><b>Доставка при заказе от 1.500₽ - БЕСПЛАТНАЯ!</b></li>
  <li align="center" class="list-group-item list-group-item-warning"><b>Доставка по г.Альметьевск - 100₽</b></li>
  <li align="center" class="list-group-item list-group-item-danger"><b>За пределы г.Альметьевск стоимость доставки обговаривается индивидуально.<br/> В зависимости от отдаленности местонахождения.<br/>Не менее 300₽</b></li>
</ul>