<div class="alert alert-success" role="alert">
  <h4 class="alert-heading" align="center">Спасибо за заказ!</h4>
  <p align="center">Ваш заказ успешно принят и находится в обработке!</p>
  <hr>
  <p class="mb-0" align="center">Оператор перезвонит Вам в ближайшее время!</p>
</div>

<script type="text/javascript">

$(function() {
	window.localStorage.clear();
});

</script>

<!-- Тут список встреч уже одобренных -->