<h1> Часто задаваемые вопросы: </h1>

</br>	

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Как сделать заказ?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Заказ можно оформить через: инстаграм и сайт! Если у Вас не работает сайт или некорректно отображается какая-либо информация на сайте, Вы можете спокойно написать нам в Директ инстаграм аккаунта, и мы в ближайшее время примем Ваш заказ.</br>
        Чтобы оформить заказ через сайт, следуйте следующей инструкции:</br>
        1) На главной странице выберите нужный Вам кальян, и доп. продукты по желанию. Добавьте их в корзину с помощью соответствущей кнопки.</br>
        2) Зайдите в корзину и проверьте правильность заказа.</br>
        3) В случае если всё верно, нажмите кнопку "Оформить заказ" и заполните соответствующую форму. Если же в заказе ошибка, или Вы хотите изменить заказ, нажмите кнопку "Удалить заказ".</br>
        4) После заполнения всех полей и отправки формы, на экране будет сообщение об успешно принятом заказе!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Что по доставке?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Доставка осуществляется по г.Альметьевск. </br>
        При заказе от 1.500₽ доставка бесплатна! </br>
        В остальных случаях - 100₽
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Куда писать/звонить по вопросам?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Наш номер: <a href="tel:+7 (999) 155 69-46">+7(999)155-69-46</a> </br>
        Почта: <a href="mail:+7 (999) 155 69-46">hookah_inspection@mail.ru</a>
      </div>
    </div>
  </div>
</div>