<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">Нужна доставка</label>
</div>



<!-- <div class="row">
  <div class="product-item">
    <div class="product-img">
      <a href="">
        <img src="https://a-s-h.com.ua/image/cache/catalog/NG62RhtwCU-800x800-1000x1000.jpg">
      </a>
    </div>
    <div class="product-list">
      <h3 align="center">Уголь</h3>
      <hr/>
      <select class="form-control" id="color" n="0">
        <option value="0">10 шт.</option>
        <option value="100">30 шт.</option>
      </select>
      <hr/>
      <span align="center" class="price"><b id="cost">100</b>₽</span>
      <div class="actions">
        <div align="center" class="add-to-cart">
          <button class="btn btn-sm btn-success">Добавить в корзину</button>
        </div>
        <div class="add-to-links">
        </div>
        </div>
      </div>
  </div>
  <div class="product-item">
    <div class="product-img">
      <a href="">
        <img src="https://i.simpalsmedia.com/999.md/BoardImages/900x900/fdbc2d0227e81e260049db83e4579682.jpg">
      </a>
    </div>
    <div class="product-list">
      <h3 align="center">Табак "Adalya"</h3>
      <hr/>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Фруктовый микс</option>
        <option>Банан</option>
        <option>Лайм</option>
        <option>Двойной шоколад</option>
        <option>Холодная вишня</option>
      </select>
      <hr/>
      <span align="center" class="price"><b>300₽</b></span>
      <div class="actions">
        <div align="center" class="add-to-cart">
          <button class="btn btn-sm btn-success">Добавить в корзину</button>
        </div>
        <div class="add-to-links">
        </div>
        </div>
      </div>
  </div>
  <div class="product-item">
    <div class="product-img">
      <a href="">
        <img src="https://b-hookah.ru/wp-content/uploads/2018/04/sherbetli-700x700.jpg">
      </a>
    </div>
    <div class="product-list">
      <h3 align="center">Табак "Serbetli"</h3>
      <hr/>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Фруктовый микс</option>
        <option>Арбузный</option>
        <option>Персиковый</option>
        <option>Двойной шоколад</option>
        <option>Холодная вишня</option>
      </select>
      <hr/>
      <span align="center" class="price"><b>350₽</b></span>
      <div class="actions">
        <div align="center" class="add-to-cart">
          <button class="btn btn-sm btn-success">Добавить в корзину</button>
        </div>
        <div class="add-to-links">
        </div>
        </div>
      </div>
  </div>
  <div class="product-item">
    <div class="product-img">
      <a href="">
        <img src="https://севас.онлайн/uploads/media/product/0001/12/thumb_11741_product_big.png">
      </a>
    </div>
    <div class="product-list">
      <h3 align="center">Табак "Dark Side"</h3>
      <hr/>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Фруктовый микс</option>
        <option>Банан</option>
        <option>Лайм</option>
        <option>Двойной шоколад</option>
        <option>Холодная вишня</option>
      </select>
      <hr/>
      <span align="center" class="price"><b>500₽</b></span>
      <div class="actions">
        <div align="center" class="add-to-cart">
          <button class="btn btn-sm btn-success">Добавить в корзину</button>
        </div>
        <div class="add-to-links">
        </div>
        </div>
      </div>
  </div>
</div>
<br/> -->

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Уголь и Табак
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">

        <div class="row">
          <div class="product-item">
            <div class="product-img">
              <a href="">
                <img src="https://a-s-h.com.ua/image/cache/catalog/NG62RhtwCU-800x800-1000x1000.jpg">
              </a>
            </div>
            <div class="product-list">
              <h3 align="center">Уголь</h3>
              <hr/>
              <select class="form-control" id="color" n="0">
                <option value="0">10 шт.</option>
                <option value="100">30 шт.</option>
              </select>
              <hr/>
              <span align="center" class="price"><b id="cost">100</b>₽</span>
              <div class="actions">
                <div align="center" class="add-to-cart">
                  <button class="btn btn-sm btn-success">Добавить в корзину</button>
                </div>
                <div class="add-to-links">
                </div>
                </div>
              </div>
          </div>
          <div class="product-item">
            <div class="product-img">
              <a href="">
                <img src="https://cocoforest-kalyanperm.ru/wp-content/uploads/2019/12/tabak-adalya-ice-bonbon-ledyanye-ledenczy-kupit-perm.jpg">
              </a>
            </div>
            <div class="product-list">
              <h3 align="center">Табак "Adalya"</h3>
              <hr/>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Фруктовый микс</option>
                <option>Банан</option>
                <option>Лайм</option>
                <option>Двойной шоколад</option>
                <option>Холодная вишня</option>
              </select>
              <hr/>
              <span align="center" class="price"><b>300₽</b></span>
              <div class="actions">
                <div align="center" class="add-to-cart">
                  <button class="btn btn-sm btn-success">Добавить в корзину</button>
                </div>
                <div class="add-to-links">
                </div>
                </div>
              </div>
          </div>
          <div class="product-item">
            <div class="product-img">
              <a href="">
                <img src="https://b-hookah.ru/wp-content/uploads/2018/04/sherbetli-700x700.jpg">
              </a>
            </div>
            <div class="product-list">
              <h3 align="center">Табак "Serbetli"</h3>
              <hr/>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Фруктовый микс</option>
                <option>Арбузный</option>
                <option>Персиковый</option>
                <option>Двойной шоколад</option>
                <option>Холодная вишня</option>
              </select>
              <hr/>
              <span align="center" class="price"><b>350₽</b></span>
              <div class="actions">
                <div align="center" class="add-to-cart">
                  <button class="btn btn-sm btn-success">Добавить в корзину</button>
                </div>
                <div class="add-to-links">
                </div>
                </div>
              </div>
          </div>
          <div class="product-item">
            <div class="product-img">
              <a href="">
                <img src="https://севас.онлайн/uploads/media/product/0001/12/thumb_11741_product_big.png">
              </a>
            </div>
            <div class="product-list">
              <h3 align="center">Табак "Dark Side"</h3>
              <hr/>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Фруктовый микс</option>
                <option>Банан</option>
                <option>Лайм</option>
                <option>Двойной шоколад</option>
                <option>Холодная вишня</option>
              </select>
              <hr/>
              <span align="center" class="price"><b>500₽</b></span>
              <div class="actions">
                <div align="center" class="add-to-cart">
                  <button class="btn btn-sm btn-success">Добавить в корзину</button>
                </div>
                <div class="add-to-links">
                </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Напитки
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        

      <div class="row">
        <div class="product-item">
          <div class="product-img">
            <a href="">
              <img src="https://lh4.googleusercontent.com/proxy/dN-bTvbUePyLk_R_d5YovqGpaBhBo0626BeuB387M_h9HSioPiEVv3UKswvbcXNKHRj27-uN9h5-oL9WMgYYDNWZNw7XUJASuWV4KyOpNgmLueCfHaKy2X33bzCTn9fV">
            </a>
          </div>
          <div class="product-list">
            <h3 align="center">Газировки</h3>
            <hr/>
            Напиток:
            <select class="form-control">
              <option>Coca-Cola</option>
              <option>Coca-Cola Zero</option>
              <option>Pepsi</option>
              <option>Sprite</option>
              <option>Fanta</option>
            </select>
            Объём:
            <select class="form-control" id="gazirovka" gaz="0">
              <option value="0">1 л.</option>
              <option value="75">2 л.</option>
            </select>

            <hr/>
            <span align="center" class="price"><b id="cost_g">100</b>₽</span>
            <div class="actions">
              <div align="center" class="add-to-cart">
                <button class="btn btn-sm btn-success">Добавить в корзину</button>
              </div>
              <div class="add-to-links">
              </div>
              </div>
            </div>
        </div>
        <div class="product-item">
          <div class="product-img">
            <a href="">
              <img src="https://miyako15.ru/wp-content/uploads/dobro.png">
            </a>
          </div>
          <div class="product-list">
            <h3 align="center">Сок "Добрый"</h3>
            <hr/>
            Вкус:
            <select class="form-control">
              <option>Яблочный</option>
              <option>Апельсиновый</option>
              <option>Мультифрукт</option>
            </select>
            Объём:
            <select class="form-control" id="sok" so="0">
              <option value="0">1 л.</option>
              <option value="80">2 л.</option>
            </select>
            <hr/>
            <span align="center" class="price"><b id="cost_s">110</b>₽</span>
            <div class="actions">
              <div align="center" class="add-to-cart">
                <button class="btn btn-sm btn-success">Добавить в корзину</button>
              </div>
              <div class="add-to-links">
              </div>
              </div>
            </div>
        </div>
        <div class="product-item">
          <div class="product-img">
            <a href="">
              <img src="https://lh3.googleusercontent.com/proxy/NmQ9ocTGLOGCEC40QLQfvWLP5fV7VjxiJF79AUNuU39Pzy1SN378HPc3PDA7f06Ej-T_RNvdKq3AwmvQNll7Awrcz7eMUgbuix2Ofi0CCCX-42w">
            </a>
          </div>
          <div class="product-list">
            <h3 align="center">Чай "Lipton"</h3>
            <hr/>
            Вкус:
            <select class="form-control">
              <option>Черный с лимоном</option>
              <option>Зелёный с лаймом и мятой</option>
            </select>
            Объём:
            <select class="form-control">
              <option value="0">1.5 л.</option>
            </select>
            <hr/>
            <span align="center" class="price"><b>120₽</b></span>
            <div class="actions">
              <div align="center" class="add-to-cart">
                <button class="btn btn-sm btn-success">Добавить в корзину</button>
              </div>
              <div class="add-to-links">
              </div>
              </div>
            </div>
        </div>
      </div>


      </div>
    </div>
  </div>
</div>
</br>




<script>
    color.onchange=function(){
        b=this.getAttribute("n")
        cost.innerHTML= (+cost.innerHTML)-b+(+this.value)
        this.setAttribute("n",this.value)
    }
    gazirovka.onchange=function(){
        a=this.getAttribute("gaz")
        cost_g.innerHTML= (+cost_g.innerHTML)-a+(+this.value)
        this.setAttribute("gaz",this.value)
    }
    sok.onchange=function(){
        s=this.getAttribute("so")
        cost_s.innerHTML= (+cost_s.innerHTML)-s+(+this.value)
        this.setAttribute("so",this.value)
    }
</script>