<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">Нужен табак</label>
</div>



<div class="row">
  <div class="product-item">
    <div class="product-img">
      <a href="">
        <img src="https://a-s-h.com.ua/image/cache/catalog/NG62RhtwCU-800x800-1000x1000.jpg">
      </a>
    </div>
    <div class="product-list">
      <h3 align="center">Уголь</h3>
      <hr/>
      <select class="form-control" id="color" n="0">
        <option value="0">10 шт.</option>
        <option value="100">30 шт.</option>
      </select>
      <hr/>
      <span align="center" class="price"><b id="cost">100</b>₽</span>
      <div class="actions">
        <div align="center" class="add-to-cart">
          <button class="btn btn-sm btn-success">Добавить в корзину</button>
        </div>
        <div class="add-to-links">
        </div>
        </div>
      </div>
  </div>
  <div class="product-item">
    <div class="product-img">
      <a href="">
        <img src="https://i.simpalsmedia.com/999.md/BoardImages/900x900/fdbc2d0227e81e260049db83e4579682.jpg">
      </a>
    </div>
    <div class="product-list">
      <h3 align="center">Табак "Adalya"</h3>
      <hr/>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Фруктовый микс</option>
        <option>Банан</option>
        <option>Лайм</option>
        <option>Двойной шоколад</option>
        <option>Холодная вишня</option>
      </select>
      <hr/>
      <span align="center" class="price"><b>300₽</b></span>
      <div class="actions">
        <div align="center" class="add-to-cart">
          <button class="btn btn-sm btn-success">Добавить в корзину</button>
        </div>
        <div class="add-to-links">
        </div>
        </div>
      </div>
  </div>
  <div class="product-item">
    <div class="product-img">
      <a href="">
        <img src="https://b-hookah.ru/wp-content/uploads/2018/04/sherbetli-700x700.jpg">
      </a>
    </div>
    <div class="product-list">
      <h3 align="center">Табак "Serbetli"</h3>
      <hr/>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Фруктовый микс</option>
        <option>Арбузный</option>
        <option>Персиковый</option>
        <option>Двойной шоколад</option>
        <option>Холодная вишня</option>
      </select>
      <hr/>
      <span align="center" class="price"><b>350₽</b></span>
      <div class="actions">
        <div align="center" class="add-to-cart">
          <button class="btn btn-sm btn-success">Добавить в корзину</button>
        </div>
        <div class="add-to-links">
        </div>
        </div>
      </div>
  </div>
  <div class="product-item">
    <div class="product-img">
      <a href="">
        <img src="https://севас.онлайн/uploads/media/product/0001/12/thumb_11741_product_big.png">
      </a>
    </div>
    <div class="product-list">
      <h3 align="center">Табак "Dark Side"</h3>
      <hr/>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Фруктовый микс</option>
        <option>Банан</option>
        <option>Лайм</option>
        <option>Двойной шоколад</option>
        <option>Холодная вишня</option>
      </select>
      <hr/>
      <span align="center" class="price"><b>500₽</b></span>
      <div class="actions">
        <div align="center" class="add-to-cart">
          <button class="btn btn-sm btn-success">Добавить в корзину</button>
        </div>
        <div class="add-to-links">
        </div>
        </div>
      </div>
  </div>
</div>
<br/>


<script>
    color.onchange=function(){
        b=this.getAttribute("n")
        cost.innerHTML= (+cost.innerHTML)-b+(+this.value)
        this.setAttribute("n",this.value)
    }
</script>